@model IEnumerable<BackEndCapstone.Models.WatchParty>

@{
    ViewData["Title"] = "Index";
}

<h1>Find a Watch Party! </h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Limit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Limit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <img src="~/images/partypic/@item.ImagePath" class="" />
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Team.Name)
            </td>
            @*<td>
                <a asp-action="Edit" asp-route-id="@item.WatchPartyId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.WatchPartyId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.WatchPartyId">Delete</a>
            </td>*@
        @*</tr>

}
    </tbody>
</table>*@

@foreach (var item in Model)
{
<div class="card border-secondary mb-3 box-shadow  " style="width: 18rem;">
    <img src="~/images/partypic/@item.ImagePath" class="card-img-top" alt="...">
    <div class="card-body ">
        <h5 class="card-title text-center">@Html.DisplayFor(modelItem => item.Title)</h5>
        <p class="card-text text-center"> @Html.DisplayFor(modelItem => item.Description)</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">@Html.DisplayFor(modelItem => item.Address)</li>
        <li class="list-group-item"> @Html.DisplayFor(modelItem => item.Limit)</li>
        <li class="list-group-item">@Html.DisplayNameFor(model => model.Date)</li>
        <li class="list-group-item">@Html.DisplayFor(modelItem => item.Team.Name)</li>
    </ul>
    <div class="card-body">
        <a href="#" class="btn btn-primary">Button</a>
    </div>
</div>

}
